.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* opacity: 0; */
  /* transform: translateX(100vw); */
  /* animation: var(--animation-vertical) 0.6s ease-out forwards; */
  /* for safari overflow problem : */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.textContainer {
  /* height: 40vh; */
  margin-bottom: 1rem;
}

.article {
  height: 100%;
  /* overflow: scroll;
  overflow-x: hidden; */
  text-align: justify;
  text-justify: inter-word;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.article a {
  text-decoration: none;
  color: rgb(187, 53, 120);
}

.waveContainer {
  display: flex;
  position: relative;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.horizontalWave {
  position: absolute;
  top: -1px;
  left: -1px;
  margin: 0;
  width: calc(100% + 2px);
  height: auto;
  z-index: 1;
}

.verticalWave {
  display: none;
}

.slider {
  height: 30vh;
  width: 100%;
}

/* for small mobile screen hights downsize the title */
@media (max-width: 380px) and (max-height: 915px){
  .header h1 {
    font-size: 25px;
    letter-spacing: 2.5px;
    line-height: 20px;
  }
}

/* horizontal view */
@media (min-width: 500px) and (orientation: landscape) {
  .card {
    flex-direction: row-reverse;
  }

  .slider {
    height: 80vh;
    width: 100%;
  }

  .textContainer {
    margin: 0;
    width: 50vw;
    height: 80vh;
  }

  .horizontalWave {
    display: none;
  }

  .verticalWave {
    display: block;
    position: absolute;
    top: 0px;
    right: -1px;
    height: calc(100% + 1px);
    width: auto;
    z-index: 1;
  }
  .article {
    overflow: scroll;
    overflow-x: hidden;
  }
}

@media (min-height: 650px) and (min-width: 1000px) and (orientation: landscape) {
  .textContainer {
    width: 45vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .article {
    font-size: 18px;
    padding-right: 2rem;
    line-height: 1.4rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .textContainer {
    width: 35vw;
  }
}

/* @media (min-width: 500px) and (orientation: landscape) {
  .card {
    flex-direction: row-reverse;
  }

  .slider {
    height: 80vh;
    width: 70%;
  }

  .textContainer {
    width: 25vw;
    height: 77vh;
  }

  .horizontalWave {
    display: none;
  }

  .verticalWave {
    display: block;
    position: absolute;
    top: 0px;
    right: -1px;
    height: calc(100% + 1px);
    width: auto;
    z-index: 1;
  }
} */
