@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* mobile view */
:root {
  --bg-color: #e9ecef;
  --menu-color: #000000;
  --menu-font-color: white;

  /* --desktop-breakpoint: 1000px;
  --tablet-width: 600px; */
  /* 65 */
  --menu-height: 75vh;
  --menu-width: 100%;
  --menu-nav-width: 100%;
  --menu-height-btnBar: 5rem;
  --menu-btn-size: 3rem;
  --menu-btn-gap: 1rem;
  --menu-font-size: 20px;

  --page-content-width: 100%;
  --page-content-padding: 1.5rem;
  --page-content-font-size: 16px;

  --animation-showup-vertical: showup-vertical;
  --animation-horizontal: showup-horizontal;
}

/* mobile horizontal view */
@media (max-height: 476px) {
  :root {
    --menu-btn-gap: 1rem;
    --menu-height-btnBar: 4rem;
    --menu-btn-size: 2rem;
  }
}

@media (min-height: 700px) and (orientation: portrait) {
  :root {
    --menu-height: 65vh;
  }
}

/* desktop view */
@media (min-width: 1000px) and (orientation: landscape) {
  :root {
    --menu-height: 100vh;
    --menu-width: 25vw;
    --menu-height-btnBar: 1.4rem;
    --page-content-font-size: 18px;
    --page-h1-size: 30px;
  }
}

@media (min-width: 2000px){
  :root{
    --menu-font-size: 30px;
  }
}

@keyframes showup-vertical {
  /* used this for the animated elements: 
  opacity: 0;
  transform: translateY(-100vh);
  animation: var(--animation-showup-vertical) 0.6s ease-out forwards;
  */
  50% {
    opacity: 60%;
  }
  100% {
    /* position: absolute; */
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes showup-horizontal {
  90% {
    opacity: 60%;
  }
  100% {
    /* position: absolute; */
    transform: translateX(0);
    opacity: 100%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  margin: 0;
  height: 100%;
  font-family: "Lato";
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
