.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

/* ============================================== */

/* desktop */
@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
