.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

/* desktop */
@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* side wave styles =============================*/
.rotate {
  transform: scaleX(-1) scaleY(-1);
  right: 0px;
  top: 0px;
}

.sideWave {
  position: fixed;
  top: 0px;
  right: 0px;
}
/* ============================================== */
