.SideWave {
  display: none;
}

/* desktop */
@media (min-width: 1000px) and (orientation: landscape) {
  .SideWave {
    transition: none;
    width: auto;
    display: block;
    height: 100vh;
  }
}
/* @media (min-width: 1200px) and (orientation: landscape) {
  .SideWave {
    /* width: auto; */
  /* }
} */ 
