@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
:root {
  --bg-color: #e9ecef;
  --menu-color: #000000;

  --desktop-breakpoint: 1000px;
  --tablet-width: 600px;


  --mobile-menu-height: 75vh;
  --mobile-menu-barHeight: 5rem;
  --mobile-menu-btn-size: 3rem;
  --mobile-menu-btn-gap: 1rem;
  --mobile-menu-fontSize: 20px;
  --mobile-font-body: 16px;
  --mobile-h1-size: 20px;


  --desktop-menu-width: 25%;
  --desktop-menu-navWidth: 60%;
}

html,
body {
  padding: 0;
  margin: 0;
  margin: 0;
  height: 100%;
  font-family: "Lato";
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
